
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container">
  <!-- <a routerLink="/games"><i id="backbtn" class="bi bi-caret-left-fill"></i></a> -->
  <div class="content-container">
    <video src="https://cdn.akamai.steamstatic.com/steam/apps/256868780/movie480_vp9.webm?t=1641965538" loop controls autoplay></video>
    <div class="heading ">
      <h6 id="dev">Developer : KRAFTON, Inc.</h6>
      <h6 id="pub">Publisher : KRAFTON, Inc.</h6>
      <h6 id="rating">Rating :</h6>
      <div class="star">
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
      </div>
      <p>Play PUBG: BATTLEGROUNDS for free. Land on strategic locations, loot weapons and supplies, and survive to become the last team standing across various, diverse Battlegrounds. Squad up and join the Battlegrounds for the original Battle Royale experience that only PUBG: BATTLEGROUNDS can</p>
      <a href="#" id="download" download><i class="bi bi-cloud-download">Download</i></a>
    </div>
  </div>
</div>
