<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><i class="bi bi-controller">GameX</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link game" routerLink="/games" routerLinkActive="active-link" >Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link about" routerLink="/about" routerLinkActive="active-link" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact" routerLink="/contact" routerLinkActive="active-link" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact" routerLink="/contact" routerLinkActive="active-link" >
            <div class="dropdown">
              <i class="bi bi-person-circle" style="color: beige;font-size: 20px;" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" routerLink="/login">Log out</a></li>
              </ul>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
