
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container">
  <!-- <a routerLink="/games"><i id="backbtn" class="bi bi-caret-left-fill"></i></a> -->
  <div class="content-container">
    <video src="https://cdn.akamai.steamstatic.com/steam/apps/256852627/movie480_vp9.webm?t=1633113400" loop controls autoplay></video>
    <div class="heading ">
      <h6 id="dev">Developer : EA Canada & EA Romania</h6>
      <h6 id="pub">Publisher : Electronic Arts</h6>
      <h6 id="rating">Rating :</h6>
      <div class="star">
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
      </div>
      <p>Powered by Football™, EA SPORTS™ FIFA 22 brings the game even closer to the real thing with fundamental gameplay advances and a new season of innovation across every mode.</p>
      <a href="#" id="download" download><i class="bi bi-cloud-download">Download</i></a>
    </div>
  </div>
</div>
