.container{
  width: 100%;
  height: 91.7vh;
  background-image: url("https://media.wired.co.uk/photos/610d3e28647eec9baf1ca396/16:9/w_2560%2Cc_limit/Copy%2520of%2520F22_G4_Mbappe_30_-25102260ed97dfd39b22.73803290.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  z-index: -1;
  top: 0;
}

.content-container{
  position: relative;
}

video{
  position: absolute;
  margin-top: 40px;
  margin-left: 80px;
  width: 800px;
  height: 400px;
  z-index: -1;
}

.heading{
  position: relative;
  width: 650px;
  height: 350px;
  background-color: #2a2a2a;
  margin-top: 18%;
  margin-left: 50%;
  text-align: center;
  border-radius: 20px;
}

#dev{
  position: absolute;
  margin-top: 45px;
  margin-left: 10px;
  color: #fff;
}

#pub{
  position: absolute;
  margin-top: 85px;
  margin-left: 10px;
  color: #fff;
}

#rating{
  position: absolute;
  margin-top: 120px;
  margin-left: 10px;
  color: #fff;
}

.star{
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin-top: 140px;
  margin-left: 10px;
}

p{
  position: absolute;
  margin: 180px 10px 0 10px;
  color: #fff;
  text-align: justify;
}

#download{
  position: absolute;
  width: 120px;
  height: 30px;
  color: #000;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 45%;
  margin-left: -45px;
}

i{
  cursor: pointer;
}

