#banner{
  width: 100%;
  min-height:100vh ;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cyberpunk,#halo,#assassin,#prop,#nfs{
  width: 100%;
  height: 600px;
  object-fit: contain;
}

