<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container">
  <!-- <a routerLink="/games"><i id="backbtn" class="bi bi-caret-left-fill"></i></a> -->
  <div class="content-container">
    <video src="https://cdn.akamai.steamstatic.com/steam/apps/256663321/movie480.webm?t=1461660154" loop controls autoplay></video>
    <div class="heading ">
      <h6 id="dev">Developer : Eidos-Montréal, Crystal Dynamics, Nixxes, Feral Interactive (Mac), Feral interactive (Linux)</h6>
      <h6 id="pub">Publisher : Square Enix, Feral Interactive (Mac), Feral interactive (Linux)</h6>
      <h6 id="rating">Rating :</h6>
      <div class="star">
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
      </div>
      <p>Tomb Raider explores the intense origin story of Lara Croft and her ascent from a young woman to a hardened survivor.</p>
      <a href="#" id="download" download><i class="bi bi-cloud-download">Download</i></a>
    </div>
  </div>
</div>
