<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container">
  <!-- <a routerLink="/games"><i id="backbtn" class="bi bi-caret-left-fill"></i></a> -->
  <div class="content-container">
    <video src="https://cdn.akamai.steamstatic.com/steam/apps/256768371/movie480.webm?t=1574881352" loop controls autoplay></video>
    <div class="heading ">
      <h6 id="dev">Developer : Rockstar Games</h6>
      <h6 id="pub">Publisher : Rockstar Games</h6>
      <h6 id="rating">Rating :</h6>
      <div class="star">
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
      </div>
      <p>Winner of over 175 Game of the Year Awards and recipient of over 250 perfect scores, RDR2 is the epic tale of outlaw Arthur Morgan and the infamous Van der Linde gang, on the run across America at the dawn of the modern age. Also includes access to the shared living world of Red Dead Online.</p>
      <a href="#" id="download" download><i class="bi bi-cloud-download">Download</i></a>
    </div>
  </div>
</div>
