#footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 5px;
}

#copyright{
  color: beige;
  margin-left: 30%;
}

#facebook,#instagram,#twitter{
  color: beige;
}

#facebook:hover,#instagram:hover,#twitter:hover{
color: tomato;
}
