<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container">
  <!-- <a routerLink="/games"><i id="backbtn" class="bi bi-caret-left-fill"></i></a> -->
  <div class="content-container">
    <video src="https://videos-rockstargames-com.akamaized.net/v3/V-4193e6444906a81da7fc1a4e85eb99c290dc4b2681ef4ffa55-en_us-1080p.mp4" loop autoplay></video>
    <div class="heading ">
      <h6 id="dev">Developer : Rockstar North</h6>
      <h6 id="pub">Publisher : Rockstar Games</h6>
      <h6 id="rating">Rating :</h6>
      <div class="star">
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
      </div>
      <p>Grand Theft Auto V for PC offers players the option to explore the award-winning world of Los Santos and Blaine County in resolutions of up to 4k and beyond, as well as the chance to experience the game running at 60 frames per second.</p>
      <a href="#" id="download" download><i class="bi bi-cloud-download">Download</i></a>
    </div>
  </div>
</div>
