
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container">
  <!-- <a routerLink="/games"><i id="backbtn" class="bi bi-caret-left-fill"></i></a> -->
  <div class="content-container">
    <video src="https://cdn.akamai.steamstatic.com/steam/apps/256872522/movie480_vp9.webm?t=1644878147" loop autoplay></video>
    <div class="heading ">
      <h6 id="dev">Developer : Respawn Entertainment</h6>
      <h6 id="pub">Publisher : Electronic Arts</h6>
      <h6 id="rating">Rating :</h6>
      <div class="star">
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
      </div>
      <p>Apex Legends is the award-winning, free-to-play Hero Shooter from Respawn Entertainment. Master an ever-growing roster of legendary characters with powerful abilities, and experience strategic squad play and innovative gameplay in the next evolution of Hero Shooter and Battle Royale.</p>
      <a href="#" id="download" download><i class="bi bi-cloud-download">Download</i></a>
    </div>
  </div>
</div>
