#banner{
  width: 100%;
  min-height:280% ;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

#all-game,#top-game,#popular-game {
  width: 180px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid tomato;
  outline: none;
  margin-top: -60px;
  margin-bottom: -20px;
  transition: 1s ease-in-out;
  color: beige;
}

#all-game:hover,#top-game:hover,#popular-game:hover{
  background-color: tomato;
}

#top-game,#popular-game{
  margin-left: 10px;
}

#all-games,#top-games,#popular-games{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#game-content{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -150px;
  color: beige;
}

img{
  width: 350px;
  object-fit: contain;
}

