<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div id="banner">
  <div id="buttons">
    <button id="all-game" (click)="showAllGames()">All</button>
    <button id="top-game" (click)="showTopGame()">Top Games</button>
    <button id="popular-game" (click) = "showPopularGame()">Popular Games</button>
  </div>

  <!-- All Games -->
  <div id="all-games" class="row" *ngIf="showAll">
    <div id="game-content" *ngFor="let li of games">
          <a routerLink="/{{li.Name}}"><img src="{{li.Image}}" alt="{{li.Name}}"></a>
    </div>
  </div>
  <!--  -->




  <!-- Popular Games -->
  <div id="top-games" class="row" *ngIf="showPopular">
    <div id="game-content" *ngFor="let li of games">
      <div  *ngIf="li.Famous === 'Popular Game'">
        <a routerLink="/{{li.Name}}"><img src="{{li.Image}}" alt="{{li.Name}}"></a>
      </div>
    </div>
  </div>
  <!--  -->

   <!-- Top Games -->
   <div id="top-games" class="row" *ngIf="showTop">
    <div id="game-content" *ngFor="let li of games">
      <div  *ngIf="li.Famous === 'Top Game'">
        <a routerLink="/{{li.Name}}"><img src="{{li.Image}}" alt="{{li.Name}}"></a>
      </div>
    </div>
  </div>
  <!--  -->
</div>
<app-footer></app-footer>
