<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div id="main-container">
<div id="about">
    <h2>ABOUT US</h2>
    <p>Enrich player's lives where gamers can download cost free games </p>
</div>
<!-- Story -->
<div id="story" class="row">
  <div class="story-left col-lg-6"></div>
  <div class="story-right col-lg-6">
    <h1>Our Story</h1>
    <p>With nearly 30,000 games from AAA to indie and everything in-between. Enjoy exclusive deals, automatic game updates, and other great perks.</p>
    <button class="btn">Know More&nbsp;<i class="bi bi-arrow-right"></i></button>
  </div>
</div>
<!--  -->

<!-- Games -->
<div id="games" class="row">
  <div class="games-left col-lg-6"></div>
  <div class="games-right col-lg-6">
    <h1>Our Games</h1>
    <p>Download and play the interesting games</p>
    <button class="btn">Know More&nbsp;<i class="bi bi-arrow-right"></i></button>
  </div>
</div>
<!--  -->
</div>
<app-footer></app-footer>
