<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div id="banner" class="mt-2 mb-2">
  <h1 id="heading" class="mt-2">About Us</h1>
  <div id="banner-content">
    <div id="content-image">
      <img id="aboutImg" src="../../../assets/Img/AboutPage.png" alt="Gamer">
      <!-- <h1 id="title"><i class="bi bi-controller">GameX</i></h1> -->
    </div>
    <div id="content-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam eum numquam similique deleniti nulla, doloremque eos voluptas dolores exercitationem aliquid soluta sed, maiores aspernatur delectus dicta incidunt iste adipisci.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, adipisci non excepturi iure unde officia. Doloribus impedit placeat facere iusto quidem, eius vero quam ullam molestias consectetur unde maiores culpa.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, adipisci non excepturi iure unde officia. Doloribus impedit placeat facere iusto quidem, eius vero quam ullam molestias consectetur unde maiores culpa.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam eum numquam similique deleniti nulla, doloremque eos voluptas dolores exercitationem aliquid soluta sed, maiores aspernatur delectus dicta incidunt iste adipisci.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, adipisci non excepturi iure unde officia. Doloribus impedit placeat facere iusto quidem, eius vero quam ullam molestias consectetur unde maiores culpa.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, adipisci non excepturi iure unde officia. Doloribus impedit placeat facere iusto quidem, eius vero quam ullam molestias consectetur unde maiores culpa.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quibusdam eum numquam similique deleniti nulla, doloremque eos voluptas dolores exercitationem aliquid soluta sed, maiores aspernatur delectus dicta incidunt iste adipisci.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, adipisci non excepturi iure unde officia. Doloribus impedit placeat facere iusto quidem, eius vero quam ullam molestias consectetur unde maiores culpa.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, adipisci non excepturi iure unde officia. Doloribus impedit placeat facere iusto quidem, eius vero quam ullam molestias consectetur unde maiores culpa.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
