
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container">
  <!-- <a routerLink="/games"><i id="backbtn" class="bi bi-caret-left-fill"></i></a> -->
  <div class="content-container">
    <img id="propnight" src="https://cdn.akamai.steamstatic.com/steam/apps/1549180/ss_2af7cd97d1242018e3bf02b48a1f6f845bc68323.600x338.jpg?t=1647710693" alt="">
    <div class="heading ">
      <h6 id="dev">Developer : Fntastic</h6>
      <h6 id="pub">Publisher : Mytona</h6>
      <h6 id="rating">Rating :</h6>
      <div class="star">
        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
      </div>
      <p>Join a thrilling party in Propnight, a multiplayer physics-based prop hunt mixed with classic horror survival.</p>
      <a href="#" id="download" download><i class="bi bi-cloud-download">Download</i></a>
    </div>
  </div>
</div>
